#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4901960784);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
#hero .background-image {
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  z-index: -1;
}
#hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0.66)), to(rgb(255, 255, 255)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.66) 85%, rgb(255, 255, 255) 100%);
}
#hero .container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

#about {
  padding: 100px 0 50px 0;
}
#about .container {
  max-width: 1170px;
  margin: auto;
}
#about .container hr {
  border-color: black;
  margin: 25px 0;
}
#about .container .hr-2 {
  margin-top: 40px;
  margin-bottom: 50px;
}
#about .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  padding: 0 20px;
}
#about .container .row .right-gap {
  margin-right: 65px;
}
#about .container .row .img {
  min-width: 392px;
  height: 376px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
}
#about .container .amenities-and-services {
  margin-top: 60px;
}
#about .container .amenities-and-services p {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 36px;
}
#about .container .amenities-and-services .row-amenities-and-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
#about .container .amenities-and-services .row-amenities-and-services .el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 57px;
  text-align: center;
}
#about .container .amenities-and-services .row-amenities-and-services .el img {
  margin-bottom: 8px;
}
#about .container .amenities-and-services hr {
  margin-top: 0;
  margin-bottom: 50px;
}
#about .container .gallery .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
}
#about .container .gallery .grid-gallery {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  max-width: 1051px;
  margin-left: auto;
  margin-right: auto;
}
#about .container .gallery .grid-gallery .fr {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#about .container .gallery hr {
  margin: 50px 0;
}
#about .container .rating-section {
  padding: 0 20px;
}
#about .container .rating-section .title {
  font-size: 36px;
  font-weight: 700;
}
#about .container .rating-section .inner-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
#about .container .rating-section .inner-container .rating {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .container .rating-section .inner-container .rating h1 {
  margin-right: 40px;
}
#about .container .rating-section .inner-container .reviews {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#about .container .rating-section .inner-container .reviews .review {
  padding: 20px 20px 0 20px;
  width: 300px;
  height: 164px;
  background: #F3F3F3;
  border-radius: 13px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#about .container .rating-section .inner-container .reviews .review .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  margin-bottom: 15px;
}
#about .container .rating-section .inner-container .reviews .review .user-info .number-rating {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D9D9D9;
  font-weight: 500;
}
#about .container .rating-section .inner-container .reviews .review .user-info .name {
  font-size: 16px;
  font-weight: 500;
}
#about .container .rating-section .inner-container .reviews .review .text {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 15.85px;
}

.bread-crumbs {
  padding-top: 50px;
  padding-left: 50px;
}
.bread-crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bread-crumbs ul li {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bread-crumbs ul li a {
  color: black;
  text-decoration: none;
}
.bread-crumbs ul li::before {
  content: url(../img/arrow.svg);
  width: 15px;
  display: block;
  margin-right: 20px;
}
.bread-crumbs ul li:first-child::before {
  display: none;
}