#hero {
    width: 100%;
    height: 100vh;
    background-color: #0000007D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
    position: relative;
    .background-image {
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: center;
        z-index: -1;
    }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 300px;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgb(255 255 255 / 66%) 85%, rgb(255, 255, 255) 100%);
    }
    .container{
        max-width: 1200px;
        margin: auto;
        width: 100%;
    }
}
#about{
    padding: 100px 0 50px 0 ;
    .container{
        max-width: 1170px;
        margin: auto;
        .row{
            display: flex;
            align-items: center;
            margin-top: 40px;
            .right-gap{
                margin-right: 30px;
            }
            .img{
                min-width: 541px;
                height: 381px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        .gallery {
            margin-top: 60px;
            h5{
                margin-bottom: 50px;
            }
            .row-gallery{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                .img{
                    width: 380px;
                    height: 230px;
                    margin-bottom: 15px;
                    margin-right: 15px;
                    background-position: center;
                    background-size: cover;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        .description{
            h5{
                font-weight: 700;
                margin-bottom: 90px;
                margin-top: 10px;
            }
            .row-description{
                display: flex;
                .text{
                    flex: 1;
                    padding-right: 40px;
                    text-align: justify;
                }
                img{
                    flex: 1;
                }

            }
            .transport{
                margin-top: 42px;
            }
        }
    }
}
.apartments{
    .row-apartments{
        .parallelogram{
            width: 630px;
            height: 767px;
            transform: skew(-10deg);
            background: black;
        }
    }
}