

#about {
    padding: 50px 0 100px 0;

    .container {
        max-width: 1170px;
        margin: auto;


        .row {
            display: flex;
            align-items: center;
            margin-top: 60px;
            padding: 0 20px;

            .right-gap {
                margin-right: 65px;
            }

            .img {
                min-width: 451px;
                height: 426px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.75);
            }
        }
    }
}
#plus{
    padding: 120px 0;
    .container{
        max-width: 1000px;
        margin: auto;
        h2{
            margin-bottom: 40px;
        }

    }
}
.bread-crumbs{
    padding-top: 50px;
    padding-left: 50px;
    ul{
        display: flex;
        list-style: none;
        align-items: center;
        li{
            margin-right: 20px;
            display: flex;
            align-items: center;
            a{
                color: black;
                text-decoration: none;
            }
            &::before{
                content: url(../img/arrow.svg);
                width: 15px;
                display: block;
                margin-right: 20px;
            }
            &:first-child::before{
                display: none;
            }
        }
    }

}
