body {
  overflow-x: hidden;
}

main {
  width: 100%;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4901960784);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#hero .background-image {
  background-image: url("../img/hero-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: bottom;
}
#hero button {
  border: 3px solid white;
  color: white;
  border-radius: 42px;
  background-color: transparent;
  width: 217px;
  height: 41px;
  font-weight: 400;
  font-size: 24px;
  margin-top: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#hero button:hover {
  background-color: white;
  color: black;
}

#who-we {
  padding: 120px 0;
}
#who-we .container {
  max-width: 1150px;
  margin: auto;
}
#who-we .container h3 {
  text-align: center;
  margin-bottom: 70px;
}
#who-we .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
}
#who-we .container .row .col-1 {
  width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#who-we .container .row .col-1 span {
  text-align: justify;
}
#who-we .container .row .col-2 {
  width: 43%;
  padding-left: 40px;
}
#who-we .container .row .col-2 .img {
  width: 100%;
  height: 325px;
  background-size: 100%;
  background-image: url("../img/operators.jpg");
  background-repeat: no-repeat;
  margin-bottom: 55px;
}

#quote {
  padding: 40px;
  background-color: #1F2838;
  color: white;
}
#quote p {
  font-size: 24px;
}
#quote .container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services {
  text-align: center;
  padding: 105px 0;
}
#services .container {
  max-width: 1080px;
  margin: auto;
}
#services .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
#services .container .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 25px;
  padding-bottom: 50px;
}
#services .container .col p {
  text-align: justify !important;
}
#services .container .col h4 {
  height: 40px;
  margin-bottom: 15px;
}
#services .container .col img {
  height: 95px;
  margin-bottom: 15px;
}
#services .container .middle-col {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 30px;
  padding-right: 30px;
}
#services .container .col:first-child {
  padding-right: 40px;
}
#services .container .col:last-child {
  padding-left: 40px;
}

#gallery {
  padding: 100px 0;
  text-align: center;
}
#gallery .splide {
  margin-top: 150px;
  height: 338px;
}
#gallery .splide .splide__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 600px;
}
#gallery .splide .splide__slide img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  z-index: 1;
}
#gallery .splide .splide__slide::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  z-index: 2;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
#gallery .splide .is-active img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#gallery .splide .is-active::after {
  background-color: rgba(0, 0, 0, 0);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
#gallery .splide .splide__track {
  overflow: visible;
}

#at-your-service .container {
  margin-top: 30px;
  max-width: 1138px;
  margin-left: auto;
  margin-right: auto;
}
#at-your-service .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 45px;
  position: relative;
}
#at-your-service .container .row:first-child {
  margin-top: 0;
}
#at-your-service .container .row.img-right {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
#at-your-service .container .row.img-right img {
  margin-left: 25px;
}
#at-your-service .container .row.img-right .text:before, #at-your-service .container .row.img-right .text:after {
  content: "";
  position: absolute;
  border: 1px solid #1F2838;
  width: calc(100% + 100px);
  height: calc(100% + 20px);
  top: -10px;
  left: -10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#at-your-service .container .row.img-right .text:after {
  top: -25px;
  left: -20px;
}
#at-your-service .container .row.img-left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#at-your-service .container .row.img-left img {
  margin-right: 25px;
}
#at-your-service .container .row.img-left .text:before, #at-your-service .container .row.img-left .text:after {
  content: "";
  position: absolute;
  border: 1px solid #1F2838;
  border-right: 0;
  width: calc(100% + 60px);
  height: calc(100% + 20px);
  top: -10px;
  left: -20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#at-your-service .container .row.img-left .text:after {
  top: -25px;
  left: -30px;
  width: calc(100% + 70px);
  height: calc(100% + 20px);
}
#at-your-service .container .row.img-left .text .top-line, #at-your-service .container .row.img-left .text .bottom-line {
  width: 1px;
  height: 100%;
  border-right: 1px solid #1F2838;
  position: absolute;
}
#at-your-service .container .row.img-left .text .top-line {
  top: calc(0px - 100% - 25px);
  right: -40px;
}
#at-your-service .container .row.img-left .text .bottom-line {
  top: calc(100% - 5px);
  right: -40px;
}
#at-your-service .container .row .text {
  max-width: 620px;
  height: 212px;
  padding: 34px 0 0 16px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#at-your-service .container .row .text h4 {
  margin-bottom: 20px;
}
#at-your-service .container .row img {
  z-index: 2;
}

#how-we-work {
  text-align: center;
  padding: 200px 0 50px 0;
}
#how-we-work .description {
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 120px;
}
#how-we-work .container {
  max-width: 900px;
  margin: auto;
}
#how-we-work .container .step {
  position: relative;
  height: 180px;
}
#how-we-work .container .step .number {
  background-color: #1F2838;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
#how-we-work .container .step .text {
  width: 45%;
  text-align: justify;
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
}
#how-we-work .container .step .text.left {
  margin-right: auto;
}
#how-we-work .container .step .text.right {
  margin-left: auto;
}
#how-we-work .container .step:first-child .text, #how-we-work .container .step:last-child .text {
  -webkit-transform: none;
          transform: none;
}
#how-we-work .container .step:last-child::after {
  display: none;
}
#how-we-work .container .step::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #1F2838;
  top: 0;
  left: 50%;
  height: 180px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#lands {
  padding: 150px 0;
  text-align: center;
}
#lands img {
  margin-top: 80px;
  max-width: 1170px;
  width: 100%;
}