body{
    overflow-x: hidden;
}
main{
    width: 100%;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: #0000007D;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .background-image{
        background-image: url('../img/hero-main.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        background-position: bottom;
    }
    button{
        border: 3px solid white;
        color: white; 
        border-radius:  42px;
        background-color: transparent;
        width: 217px;
        height: 41px;
        font-weight: 400;
        font-size: 24px;
        margin-top: 50px;
        transition: .3s;
        &:hover{
            background-color: white;
            color: black;
        }
    }
}
#who-we{
    padding: 120px 0;
    .container{
        max-width: 1150px;
        margin: auto;
        h3{
            text-align: center;
            margin-bottom: 70px;
        }
        .row{
            display: flex;
            text-align: justify;
            .col-1{
                width: 57%;
                display: flex;
                flex-direction: column;
                span{
                    text-align: justify;
                }
            }
            .col-2{
                width: 43%;
                padding-left: 40px;
                .img{
                    width: 100%;
                    height: 325px;
                    background-size: 100%;
                    background-image: url('../img/operators.jpg');
                    background-repeat: no-repeat;
                    margin-bottom: 55px;
                }
            }
        }
    }

}
#quote{
    padding: 40px;
    background-color: #1F2838;
    color: white;
    p{
        font-size: 24px;
    }
    .container{
       margin-left: auto;
       margin-right: auto;
       max-width: 1000px;
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
}
#services{
    text-align: center;
    padding: 105px 0;
    .container{
        max-width: 1080px;
        margin: auto;
        .row{
            display: flex;
            margin-top: 50px;
        }
        .col{
            flex: 1;
            padding-top: 25px;
            padding-bottom: 50px;
            p{
                text-align: justify !important;
            }
            h4{
                height: 40px;
                margin-bottom: 15px;
            }
            img{
                height: 95px;
                margin-bottom: 15px;
            }
        }
        .middle-col{
            border-left: 1px solid black;
            border-right: 1px solid black;
            padding-left: 30px;
            padding-right: 30px;
        }
        .col:first-child{
            padding-right: 40px;
        }
        .col:last-child{
            padding-left: 40px;
        }
    }
}
#gallery{
    padding: 100px 0;
    text-align: center;
    .splide{
        margin-top: 150px;
        height: 338px;
        .splide__slide{
            display: flex;
            justify-content: center;
            max-width: 600px;
            img{
                transition: 0.3s;
                width: 100%;
                z-index: 1;
            }
            &::after{
                content: '';
                width: 100%;
                height: 100%;
                display: block;
                z-index: 2;
                position: absolute;
                background-color: #00000066;
                transition: 0.3s;
            }
            
        }
        .is-active{
            img{
                transform: scale(1.2);

            }
            &::after {
                background-color: #00000000;
                transform: scale(1.2);
            }
        }
        .splide__track{
            overflow: visible;
        }
    }
}
#at-your-service{
    .container{
        margin-top: 30px;
        max-width: 1138px;
        margin-left: auto;
        margin-right: auto;
        .row{
            display: flex;
            align-items: center;
            margin-top: 45px;
            position: relative;
            &:first-child{
                margin-top: 0;
            }
            &.img-right{
                justify-content: right;
                img{
                    margin-left: 25px;
                }
                .text{
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        border: 1px solid #1F2838;
                        width: calc(100% + 100px);
                        height: calc(100% + 20px);
                        top: -10px;
                        left: -10px;
                        box-sizing: border-box;
                    }
                    &:after {
                        top: -25px;
                        left: -20px;
                    }
                }
            }
            &.img-left{
                justify-content: left;
                img{
                    margin-right: 25px;
                }
                .text{
                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        border: 1px solid #1F2838;
                        border-right: 0;
                        width: calc(100% + 60px);
                        height: calc(100% + 20px);
                        top: -10px;
                        left: -20px;
                        box-sizing: border-box;
                    }
                    &:after {
                        top: -25px;
                        left: -30px;
                        width: calc(100% + 70px);
                        height: calc(100% + 20px);
                    }
                    .top-line,.bottom-line{
                        width: 1px;
                        height: 100%;
                        border-right: 1px solid #1F2838;
                        position: absolute;
                    }
                    .top-line{
                        top: calc(0px - 100% - 25px);
                        right: calc(-70px + 30px);
                    }
                    .bottom-line{
                        top: calc(100% - 5px);
                        right: calc(-70px + 30px);
                    }
                }
            }
            .text{
                max-width: 620px;
                height: 212px;
                padding: 34px 0 0 16px ;
                position: relative;
                box-sizing: border-box;
                h4{
                    margin-bottom: 20px;
                }
            }
            img{
                z-index: 2;
                
            }
        }
    }
}
#how-we-work{
    text-align: center;
    padding: 200px 0 50px 0;
    .description{
        margin-top: 20px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-bottom: 120px;
    }
    .container{
        max-width: 900px;
        margin: auto;
        .step{
            position: relative;
            height: 180px;
            // margin-bottom: 180px;
            .number{
                background-color: #1F2838;
                color: #fff;
                font-size: 24px;
                font-weight: 700;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
            }
            .text{
                width: 45%;
                text-align: justify;
                transform: translateY(-15%);
                &.left{
                    margin-right: auto;
                }
                &.right{
                    margin-left: auto;
                }
            }
            &:first-child .text,&:last-child .text{
                transform: none;
            }
            &:last-child::after{
                display: none;
            }
            &::after{
                content: "";
                position: absolute;
                width: 2px;
                background-color: #1F2838;
                top: 0;
                // bottom: -50%;
                left: 50%;
                height: 180px;
                transform: translateX(-50%);
            }
        }
    }
}
#lands{
    padding: 150px 0;
    text-align: center;
    img{
        margin-top: 80px;
        max-width: 1170px;
        width: 100%;
    }
}