<footer>
    <div class="container">
        <div class="questions">
            <div class="left-text">
                <b>Остались вопросы или вы сомневаетесь, реализуемо ли ваше желание?</b>
                <p>Оставьте свои данные и премиум-ассистент свяжется с вами в течение нескольких минут. Всего пара фраз, и вы поймете – мы
                можем то, на что остальные говорят «невозможно».</p>
            </div>
            <div class="right-text"><p>Наши операторы доступны 24/7: +442038681146<br> EMAIL: info@limotis.com</p></div>
        </div>
        <hr>
        <div class="links">
            <div class="col">
                <img src="/img/logo.png" alt="logo limotis" width="100" >
            </div>
            <div class="col">
                <span class="title">Наши 24/7 контакты:</span>
                <ul>
                    <li><a href="tel:+442038681146">+442038681146</a></li>
                    <li><a href="mailto:info@limotis.com">info@limotis.com</a></li>
                    <li><a href="">Limotis LTD, 71-75 Shelton Street, London,  WC2H 9JQ</a></li>
                    <li><a href="">IATA Accredited: 96046193</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="title">Континенты</span>
                <ul>
                    <li><a href="">Европа</a></li>
                    <li><a href="">Азия</a></li>
                    <li><a href="">Африка</a></li>
                    <li><a href="">Южная Америка</a></li>
                    <li><a href="">Северная Америка</a></li>
                </ul>
            </div>
            <div class="col">
                <span class="title">Услуги</span>
                <ul>
                    <li><a href="">Индивидуальные путешествия</a></li>
                    <li><a href="">Премиальное размещение</a></li>
                    <li><a href="">Частные перелеты</a></li>
                    <li><a href="">Трансфер и аренда авто</a></li>
                    <li><a href="">Аренда яхт</a></li>
                    <li><a href="">ВИП-консьерж</a></li>
                    <li><a href="">ВИП-услуги в аэропортах, фаст трак</a></li>
                    <li><a href="">Оздоровительный туризм</a></li>
                    <li><a href="">Эксклюзтвные покупки</a></li>
                </ul>
            </div>
            </div>
            <div class="copyright text-center">
                <p>Copyright Limotis ©2024 All rights reserved</p>
            </div>
        </div>
    </div>
</footer>